<<<<<<< HEAD
<%@page_title ="ご質問"%>
<main class="contact_back">
  <h2 class="contact_heading">よくある質問</h2>
  <section class="questions_container">

    <ul class="questions_list">
      <% @questions.each do |q|%>
      <li>
        <p class="question_body">
          <%=q.body %>
        </p>
        <p class="answer_body">
          <%= q.answer%>
        </p>
      </li>
      <% end %>
    </ul>
  </section>

</main>
=======
<h1>Questions#index</h1>
<p>Find me in app/views/questions/index.html.erb</p>
>>>>>>> origin/master
