<% @page_title ="会社概要"%>
<main>
  <h2 class="logo_h ">
    会社概要
  </h2>
  <table>
    <tr>
      <th>社名</th>
      <td>とりまい株式会社 (英語名：Torimai Inc.)</td>
    </tr>
    <tr>
      <th>設立</th>
      <td> <time>1996年8月17日</time> </td>
    </tr>
    <tr>
      <th rowspan="2">所在地</th>
      <td>地球のどこか
        <a href="https://goo.gl/maps/VV4UTTK5eux" target="_blank"> 詳細はこちらを</a>
      </td>
    </tr>
    <tr>
      <td>もしくは火星
        <a href="https://goo.gl/maps/VV4UTTK5eux" target="_blank"> 詳細はこちらを</a>
      </td>
    </tr>
    <tr>
      <th>資本金</th>
      <td>10,000,000,000円</td>
    </tr>
    <tr>
      <th>代表</th>
      <td>代表取締役/CEO　とりし まり</td>
    </tr>
    <tr>
      <th>取引銀行</th>
      <td>三菱UFJ銀行</td>
    </tr>
  </table>
</main>
