<%@page_title ="ご質問"%>
<main class="contact_back">
  <h2 class="contact_heading">よくある質問</h2>
  <section class="questions_container">

    <ul class="questions_list">
      <% questions_length = 5 %>
      <% questions_length.times do |i|%>
      <li>
        <p class="question_body">question</p>
        <p class="answer_body">answer</p>
      </li>
      <% end %>
    </ul>
  </section>

</main>
