<% @page_title ="お問い合わせ"%>
<header id=header_form>
  <h2 class="logo_h" id="form_logo">
    FORM
  </h2>
  <h3>
    お問い合わせ
  </h3>
  <p>サービスのご質問、お仕事のご依頼など、<br>
    お気軽にお問い合わせください。</p>

</header>
<section>
  <form action="#" method="post">

    <table id="table_form">

      <tr id="tr_1">
        <th id="th_1">お問い合わせ種別</th>
        <td>
          <p><input type="radio" name="question-type" value="1" id="type_1">
            <label for="type_1">製品の不具合について</label>
          </p>
          <p> <input type="radio" name="question-type" value="2" id="type_2">
            <label for="type_2">
              求人について
            </label></p>
          <p> <label for="type_3"></label></p>
          <p> <input type="radio" name="question-type" value="3" id="type_3">
            <label for="type_3">
              著作権など権利関係について
            </label></p>
          <p> <input type="radio" name="question-type" value="4" id="type_4">
            <label for=type_4>その他お問い合わせ
            </label></p>
        </td>
      </tr>
      <tr>
        <th class="form-header">会社名</th>
        <td> <textarea name="" id="" cols="40" rows="3"></textarea></td>
      </tr>
      <tr>
        <th class="form-header">お名前</th>
        <td><textarea name="" id="" cols="40" rows="3"></textarea></td>
      </tr>
      <tr>
        <th class="form-header">メールアドレス</th>
        <td><textarea name="" id="" cols="40" rows="3"></textarea></td>
      </tr>
      <tr>
        <th class="form-header">電話番号</th>
        <td><textarea name="" id="" cols="40" rows="3"></textarea></td>
      </tr>
      <tr class="form-header">
        <th class="form-header">お問い合わせ内容</th>
        <td> <textarea name="" id="" cols="40" rows="7"></textarea>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <input type="submit" value="内容を確認する">

        </td>
      </tr>
    </table>
  </form>
</section>
