<header></header>
<main>
  <section>
    <time class="single-header-date" datetime="2019-01-01">
      2019.01.01
    </time>
    <a href="#" class="single-header-tag">INFORMATION</a>

  </section>
</main>

