<footer>
<<<<<<< HEAD
  <a href="" class=" btn btn-info">
    TOPへ
  </a>

  <small>
    copyright@
    <%= link_to "sayuen0", "https://github.com/sayuen0" %>
  </small>
=======
  <a href="#top" class=" btn btn-info">
    TOPへ
  </a>
>>>>>>> origin/master
</footer>
