<nav class="navbar navbar-expand-lg navbar-light bg-info" id="top">
  <p>
    <%= link_to "Logo", :root %>
  </p>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse bg-info"  id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <%= link_to "MEMBER", :members ,class: ""%>
      </li>
      <li class="">
        <%= link_to "NEWS", :news ,class: ""%>
      </li>
      <li class="nav-item">
        <a class="" href="./company.html">CONTACT</a>
      </li>
      <li class="nav-item">
        <a class="" href="./contact.html">COMPANY</a>
      </li>
      <li class="nav-item">
        <a class="" href="./form.html">FORM</a>
      </li>
    </ul>
  </div>
</nav>


