<header>
  <nav class="nav navbar-nav" id="top">
    <p>
      <%= link_to "Logo", :root %>
    </p>
    <ul>
      <li>
        <%= link_to "MEMBER", :members%>
      </li>

      <li>
        <%= link_to "NEWS", :news%>
      </li>
      <li>
        <%= link_to "CONTACT", :contact%>
      </li>
      <li><a href="./company.html">COMPANY</a></li>
      <li><a href="./form.html">FORM</a></li>

    </ul>
  </nav>
</header>
