<h2>ログイン</h2>
<% if flash.alert %>
<p class="alert"><%= flash.alert %></p>
<% end %>

<%= form_tag :session,  id:"login_form" do  %>
  <table>
    <p>メールアドレス</p>
    <td><input type="email" name="email" id=""></td>
  </table>
  <table>
    <p>パスワード</p>
    <td><input type="password" name="password" id=""></td>
  </table><input type="submit" value="ログイン">
<% end %>