@import "bootstrap";

/*reset */
body {
  margin: 0;
  background: #c0f1fc;
}

/* global */


/* nav */

$link_hover : yellowgreen;

nav {
  z-index: 100;
  display: flex;
  align-items: center;



  p {
    margin-left: 20px;
    font-family: "arial black";
    font-size: 2.5rem;

    a {
      width: 200px;
      display: block;
<<<<<<< HEAD
=======
      width: 200px;
>>>>>>> origin/master

      &:hover {
        color: $link_hover;
      }
    }
  }

  ul {
    display: flex;
    justify-content: flex-end;
    margin: 0 20px 0 auto;
  }

  li {
    list-style: none;
    margin-left: 20px;


    a {

      &:hover {
        color: $link_hover;
        text-shadow: 5px 5px 5px black;

      }
    }
  }

  a {
    text-decoration: none;
    color: white;

  }

}



/* header */

.movie {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;

  // 動画用
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/*通知部分*/
.flash-notion {
  text-align: center;
  color: red;
  font-size: 1.5;
}

/* main */

main {
  margin: 30px 0;
}


// ロゴ
.logo_h {
  text-align: center;
  font-size: 3rem;
  position: relative;
  padding: 0 0 10px 0;
  font-style: italic;


  &::first-letter {
    font-size: 4rem;
    color: darkorange;
  }

  &:before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 10px;
    width: 100px;
    height: 4px;
    margin-left: -50px;
    background-color: #d65050;
  }

<<<<<<< HEAD
=======
}

.profiles_container {
  margin: 20px 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

}


.profile_wrapper {
  text-align: center;
  width: 30%;
  word-wrap: break-word;


  img {
    border-radius: 10px;
  }

  &:nth-child(2n+1) {
    background-color: rgba($color: skyblue, $alpha: 0.5);

  }

  .name {
    color: red;
  }
}

@media(max-width: 764px) {
  .profile_wrapper {
    width: 90%;
  }
}


img {
  width: 100%;
}

a.link {
  display: block;
  text-align: center;
  width: 200px;
  margin: auto;
  height: 50px;
  text-align: center;
  align-items: center;
  text-decoration: none;

  div {
    line-height: 50px;
    width: 100%;
    height: 100%;
    background-color: limegreen;
    color: white;
    font-family: "Gamja Flower", cursive;
    border-radius: 10px;

    &:hover {
      background-color: green;
    }
  }

>>>>>>> origin/master
}



/* footer */

footer {
  width: 100%;
  height: 120px;
  line-height: 120px;
  background: linear-gradient(45deg, skyblue, limegreen);
  text-align: center;
  color: white;

  strong {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }

<<<<<<< HEAD
  a.btn {
=======
  a {
>>>>>>> origin/master
    position: fixed;
    right: 20px;
    bottom: 20px;

  }
}
